/* index.css or App.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Roboto",  sans-serif;
}
/* General Container */
.slider-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Section Styling */
.slider-section {
  margin-bottom: 2rem;
}

.section-title {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #00438D;
  background-color: #ffffff;
}

/* Slider Wrapper */
.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-content {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE 10+ */
  scroll-behavior: smooth;
}

.slider-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome/Safari */
}

.slider-item {
  min-width: 200px;
  margin-right: 1rem;
  padding: 1rem;
  background-color: white;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.slider-item:hover {
  transform: scale(1.05);
}

.active-item {
  border-bottom: 2px solid black;
}
.active-item2 {
  background-color: black;
  color: white;
  border-radius: 40px;
}

/* Buttons */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background-color: #fff;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.slider-button:hover {
  background-color: #0056b3;
}

.left-button {
  left: -1rem;
}

.right-button {
  right: -1rem;
}

/* Course Card */
.course-card {
  min-width: 300px;
  height: 350px;
  margin-right: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.course-card {
  position: relative;
  display: inline-block;
  padding: 10px;

}

.course-thumbnail {
  border-radius: 5px;
  height: 200px;
}

.popup-card {
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E5F2FF;
}

.add-to-cart-button {
  background-color: #00438D;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}